:root{
  --main-bg-color: #333;
  --main-color: #fff;
  --header-bg: #111;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: var(--main-color);
}

body{
  background: var(--main-bg-color);
  color: var(--main-color);
}

.flex-center-all{
  display: flex;
  justify-content: center;
  align-items: center;
}

header{
  padding: 10px;
  height: 100px;
  background: var(--header-bg);
}

main{
  background: var(--header-bg);
  width: 100%;
  min-height: 100vh;
  height: 100%;
  padding: 15px;
}

.projectGrid{
  max-width: 1000px;
  width: 80%;
  padding: 20px;
  margin-inline: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
  border-radius: 10px;
  background: var(--main-bg-color);
}

.project{
  width: 200px;
  height: 150px;
  padding: 5px;
  border-radius: 8px;
  background: var(--header-bg);
  cursor: pointer;
  transition: .2s ease-in-out;
}

.project:hover{
  transform: scale(1.05);
  box-shadow: 4px 4px 8px 2px #222;
}

.project h2{
  background: slategray;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
}

.project-details{
  width: 100%;
  height: calc(100% - 48px);
  padding: 10px; 
  justify-content: space-evenly;
  gap: 10px;
}

.project-details p{
  text-align: center;
}